html {
    box-sizing: border-box;
  }
  
*,
*::before,
*::after {
    box-sizing: inherit;
  }
  
a {
    color: inherit;
    text-decoration: none;
  }
  
img {
    max-width: 100%;
  }

  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

  body {
    font-family: 'Roboto', sans-serif;
  }

  :root {
    --color-white: #fff;
    --color-Light_gray: #F1F3F2;
    --color-Gray_smoky: #ABABAB;
    --color-gray: #767474;
    --color-Black_blue: #333B41;
    --color-black: #1d1c1c;
    --color-rad: #D31414;
    --color-yellow: #FFEE2E;
    --color-orang: #E47209;
    --color-orang_gradient: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    --color-green: #4B9200;
  }

  .container {
    max-width: 1190px;
    padding: 0 15px;
    margin: 0 auto;
  }

  .btn-reset {
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
  }

  .list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 80px;
    background: var(--color-black);
    backdrop-filter: blur(2px);
  }

  .header__container {
    display: flex;
    align-items: center;
  }

  .nav__list {
    display: flex;
    justify-content: flex-start;
    padding-top: 29px;
    margin-left: 190px;
  }

  .nav__item:not(:last-child) {
    margin-right: 58px;
  }

  .nav__link {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: var(--color-white);
  }

  .logo {
    /* margin-right: 63px; */
    position: absolute;
    width: 82px;
    height: 52px;
    left: 220px;
    top: 14px;
  }

  .copyright {
    margin-left: auto;
    padding-top: 29px;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: var(--color-white);
  }

  .hero__container {
    display: flex;
    justify-content: flex-end;
  }

  .hero {
    padding-top: 86px;
    padding-bottom: 40px;
    height: 100vh;
    min-height: 780px;
    background-image: url("../img/hero-cover.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .hero__contend {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero__ellipse {
    position: relative;
    margin-top: 20px;
    margin-right: 128px;
    width: 465px;
    height: 465px;
    border-radius: 50%;
    background: var(--color-orang_gradient);
  }

  .hero__list {
    margin-top: 86px;
    margin-bottom: 60px;
  }

  .hero__title {
    margin: 5px;
    font-weight: 700;
    font-size: 106.496px;
    line-height: 75%;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-white);
  } 

  .title--yellow {
    color: var(--color-yellow);
  }
  
  .btn {
    width: 298px;
    height: 54px;
    background: var(--color-orang_gradient);
    border-radius: 25px;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-white);
  }

  .about__container {
    max-height: 1829px;
  }

  .about-flowers__right {
    float: right;
  }

  /* .about-flowers__left {
    position: absolute;
    width: 255px;
    top: 2210px;
  }

  .about-flowers__bottom {
    position: absolute;
    left: 1150px;
    top: 2335px;
  } */

.about__top {
  padding-top: 140px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 80px;
}

.about__col-img {
  width: 609px;
  height: 403px;
  backdrop-filter: blur(2px);
}

.about__col {
  width: 465px;
  height: 403px;
}

.about__title {
  margin: 0;
  padding-bottom: 20px;
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
}

.about__descr {
  margin: 0;
  padding-bottom: 54px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

.about__subtitle {
  margin: 0;
  padding-bottom: 34px;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
}

.about-catalog {
  margin-top: 160px;
}

.about-catalog__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding-top: 20px;
}

.one {
  background-image: url(../img/Catalog_one.jpg);
}

.two {
  background-image: url(../img/Catalog_two.jpg);
}

.three {
  background-image: url(../img/Catalog_three.jpg);
}

.four {
  background-image: url(../img/Catalog_four.jpg);
}

.five {
  background-image: url(../img/Catalog_five.jpg);
}

.six {
  background-image: url(../img/Catalog_six.jpg);
}

.catalog-item__col {
  width: 366px;
  height: 426px;
  border-radius: 5px;
  border: 1px solid var(--color-orang);
  background-position: top;
  background-size: 366px 366px;
  background-repeat: no-repeat;
}

.catalog-item__title {
  margin: 0;
  padding-top: 374px;
  padding-left: 16px;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-transform: uppercase;
}

.catalog-item__descr {
  margin: 0;
  padding-left: 16px;
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
}


.icon__banana {
  position: relative;
  left: 320px;
  bottom: 35px;
}

.icon__meet {
  position: relative;
  left: 310px;
  bottom: 35px;
}

.about__btn {
  padding-top: 80px;
  padding-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 298px;
}

.feed {
  max-height: 1004px;
  padding-top: 69px;
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  opacity: 0.9;
}

.feed__field {
  margin-top: 69px;
  height: 835px;
  background: rgba(253, 253, 255, 0.52);
  backdrop-filter: blur(2px);
  border-radius: 20px;
}

.feed__field h3 {
  font-weight: 500;
  font-size: 48px;
  line-height: 120%;
  text-align: center;
  color: var(--color-orang);
}