html {
    box-sizing: border-box;
  }
  
*,
*::before,
*::after {
    box-sizing: inherit;
  }
  
a {
    color: inherit;
    text-decoration: none;
  }
  
img {
    max-width: 100%;
  }

  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

  body {
    font-family: 'Roboto', sans-serif;
  }

  :root {
    --color-white: #fff;
    --color-Light_gray: #F1F3F2;
    --color-Gray_smoky: #ABABAB;
    --color-gray: #767474;
    --color-Black_blue: #333B41;
    --color-black: #1d1c1c;
    --color-rad: #D31414;
    --color-yellow: #FFEE2E;
    --color-orang: #E47209;
    --color-orang_gradient: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    --color-green: #4B9200;
  }

  .container {
    max-width: 1190px;
    padding: 0 15px;
    margin: 0 auto;
  }

  .btn-reset {
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
  }

  .list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 80px;
    background: var(--color-black);
    backdrop-filter: blur(2px);
  }

  .header__container {
    display: flex;
    align-items: center;
  }

  .nav__list {
    display: flex;
    justify-content: flex-start;
    padding-top: 29px;
    margin-left: 190px;
  }

  .nav__item:not(:last-child) {
    margin-right: 58px;
  }

  .nav__link {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: var(--color-white);
  }

  .logo {
    padding-top: 14px;
    width: 82px;
    height: 52px;
  }

  .copyright {
    margin-left: auto;
    padding-top: 29px;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: var(--color-white);
  }

  .hero__container {
    display: flex;
    justify-content: flex-end;
  }

  .hero {
    padding-top: 86px;
    padding-bottom: 40px;
    height: 110vh;
    /* min-height: 780px; */
    background-image: url("../img/hero-cover.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .hero__contend {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero__ellipse {
    position: relative;
    margin-top: 20px;
    margin-right: 128px;
    width: 465px;
    height: 465px;
    border-radius: 50%;
    background: var(--color-orang_gradient);
  }

  .hero__list {
    margin-top: 86px;
    margin-bottom: 60px;
  }

  .hero__title {
    margin: 5px;
    font-weight: 700;
    font-size: 106.496px;
    line-height: 75%;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-white);
  } 

  .title--yellow {
    color: var(--color-yellow);
  }
  
  .btn {
    width: 298px;
    height: 54px;
    background: var(--color-orang_gradient);
    border-radius: 25px;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-white);
  }

  .about__container {
    max-height: 1829px;
  }

  .about-flowers__right {
    float: right;
  }

  /* .about-flowers__left {
    position: absolute;
    width: 255px;
    top: 2210px;
  }

  .about-flowers__bottom {
    position: absolute;
    left: 1150px;
    top: 2335px;
  } */

.about__top {
  padding-top: 140px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 80px;
}

.about__col-img {
  width: 609px;
  height: 403px;
  backdrop-filter: blur(2px);
}

.about__col {
  width: 465px;
  height: 403px;
}

.about__title {
  margin: 0;
  padding-bottom: 20px;
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
}

.about__descr {
  margin: 0;
  padding-bottom: 54px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

.about__subtitle {
  margin: 0;
  padding-bottom: 34px;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
}

.about-catalog {
  margin-top: 160px;
}

.about-catalog__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding-top: 20px;
}

.one {
  background-image: url(../img/Catalog_one.jpg);
}

.two {
  background-image: url(../img/Catalog_two.jpg);
}

.three {
  background-image: url(../img/Catalog_three.jpg);
}

.four {
  background-image: url(../img/Catalog_four.jpg);
}

.five {
  background-image: url(../img/Catalog_five.jpg);
}

.six {
  background-image: url(../img/Catalog_six.jpg);
}

.catalog-item__col {
  width: 366px;
  height: 426px;
  border-radius: 5px;
  border: 1px solid var(--color-orang);
  background-position: top;
  background-size: 366px 366px;
  background-repeat: no-repeat;
}

.catalog-item__title {
  margin: 0;
  padding-top: 374px;
  padding-left: 16px;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-transform: uppercase;
}

.catalog-item__descr {
  margin: 0;
  padding-left: 16px;
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
}


.icon__banana {
  position: relative;
  left: 320px;
  bottom: 35px;
}

.icon__meet {
  position: relative;
  left: 310px;
  bottom: 35px;
}

.about__btn {
  padding-top: 80px;
  padding-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 298px;
}

.feed {
  /* max-height: 1004px; */
  padding-top: 69px;
  padding-bottom: 100px;
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  opacity: 0.9;
}

.feed__field {
  margin-top: 69px;
  height: 835px;
  background: rgba(253, 253, 255, 0.52);
  backdrop-filter: blur(2px);
  border-radius: 20px;
}

.feed__field h3 {
  padding-top: 41px;
  font-weight: 500;
  font-size: 48px;
  line-height: 120%;
  text-align: center;
  color: #FE9013;
}

.feed__item {
  padding-left: 99px;
}

.feed__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  color: #333B41;
  padding-bottom: 20px;
}

.feed__subtitle {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #333B41;
}

.feed__descr {
  max-width: 863px;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #333B41;
}

.direction {
  padding: 0 198px;
}

.direction__title {
  margin: 0;
  padding: 20px 0;
  font-weight: 500;
  font-size: 48px;
  line-height: 120%;
  text-align: center;
}

.direction__list {
  display: flex;
  justify-content: space-between;
}

.widjet__col {
  width: 168px;
  height: 168px;
  border-radius: 5px;
  border: 1px solid var(--color-orang);
  background-color: var(--color-white);
  text-align: center;
}

.img__pay {
  padding-top: 54px;
}

.img__vector {
  padding-top: 68px;
}

.img__zoo {
  padding-top: 38px;
}

.img__monkey {
  padding-top: 48px;
}

.direction__btn {
  padding-top: 45px;
  margin-left: auto;
  margin-right: auto;
  width: 298px;
}

.direction__descr {
  display: flex;
  justify-content: space-between;
  padding-left: 77px;
}

.direction__descr p {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;  
  color: #333B41;
}

.reviews__title {
  margin-top: 140px;
  font-weight: 500;
  font-size: 36px;
  line-height: 130%;
  text-align: center;
  color: #333B41;
}

.reviews__list {
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.reviews-item__col {
  width: 268px;
  height: 391px;
  border-radius: 20px;
  border: 2px solid rgba(254, 189, 171, 0.74);
  background: var(--color-Light_gray);
  /* text-align: center; */
}

.reviews-item__info {
  display: flex;
  padding: 10px 16px;
}

/* .reviews-item__info img {
  width: 37px;
  height: 37px;
} */

.reviews-item__date {
  padding: 0 10px;
}

.reviews-item__date p {
  margin: 0;
}

.reviews-item__name {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #000000;
}

.reviews-item__local {
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  color: #BDBDBD;
}

.reviews-item__content {
  margin: 0;
  padding: 0 15px 19px 16px;
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  color: #767474;
}

.reviews__btn {
  padding-top: 60px;
  padding-bottom: 180px;
}

.rectangle__btn {
  width: 298px;
  height: 54px;
  background: var(--color-orang_gradient);
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-white);
}

.footer {
  width: 100%;
  height: 450px;
  background: var(--color-black);
  backdrop-filter: blur(2px);
}

.footer__list {
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.footer__btn {
  padding-top: 161px;
}

.footer__logo {
  position: absolute;
  top: 40px;
}

.footer__title {
  margin: 0;
  padding-top: 40px;
  padding-bottom: 20px;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #FFFFFF
}

.footer__col {
  padding: 0;
  display: flex;
}

.footer__input {
  padding-right: 10px;
}

.footer__form {
  width: 228px;
}

.footer__email {
  border: 1px solid var(--color-orang);
  border-radius: 5px;
  padding: 9px 10px;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.08em;
  color: var(--color-Light_gray);
  background-color: transparent;
}

.input__btn {
  width: 129px;
  height: 42px;
  background: var(--color-Light_gray);
  border-radius: 5px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: var(--color-green);
  border: 2px solid var(--color-green);
}

.social__list {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  padding-top: 40px;
}

.social-item__icon {
  padding: 0;
}

.img__link {
  width: 26px;
  height: 26px;
}

.social-item__img {
  display: flex;
}

.social-item__img:not(:last-child) {
  padding-bottom: 10px;
}

.fb {
  background-image: url(../img/fb.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(196, 196, 196, 0.5);
  border-radius: 50%;
}

.tw {
  background-image: url(../img/tw.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(196, 196, 196, 0.5);
  border-radius: 50%;
}

.in {
  background-image: url(../img/ins.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(196, 196, 196, 0.5);
  border-radius: 50%;
}

.yt {
  background-image: url(../img/yt.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(196, 196, 196, 0.5);
  border-radius: 50%;
}

.social__link {
  padding-left: 10px;
  padding-top: 6px;
  color: #E0D8F0;
}

.footer__nav {
  padding-top: 90px;
}

.nav-footer__list {
  display: flex;
  justify-content: flex-start;
  padding-top: 29px;
  margin-left: 120px;
}

.footer__small {
  padding-top: 110px;
}

.footer__copyright {
  font-weight: 100;
  font-size: 16px;
  line-height: 130%;
  color: #FFFFFF;
}